.map {
	.leaflet-control-container {
		.leaflet-control-attribution {
			position: absolute;
			bottom: 0;
			height: 1.5em;
			background: rgba(255,255,255,0.8)
		}

		.leaflet-bar {
			box-shadow: none;
		}

		.leaflet-control-scale-line {
			color: white;
			font-weight: bold;
			height: 1.5em !important;
			text-shadow: 1px 1px 1px rgba(0,0,0,1);
			background: transparent;
			border: none;
			padding-bottom: 0.5em;
			border-right: 2px solid white;
			border-bottom: 2px solid white !important;
			box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
			margin-bottom: 0.5em;
		}

		.leaflet-control-zoom {
			display: none;
		}
	}

	.leaflet-popup-content {

		table {
			border-collapse: collapse;
		}

		th {
			padding-right: 0.5em;
			vertical-align: top;
		  text-align: right;
		}

		tr > * {
			padding: 0.2em 0.3em;
		}

		tr:nth-child(odd) > * {
			background-color: #eee;
		}
	}
}

