@import 'components/sidepanel';

$wellListPanelWidth: 15em;

.well-list {
  @extend .side-panel;

  width: $wellListPanelWidth;

  .well-item {
    padding: 0.2em 0.5em;
    margin-bottom: 0.1em;
  }
}
