$pagePadding: 1.5em;

.page {
  position: absolute;
  top: $workspaceToolbarHeight;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  background-color: #fff;
}

.page.padded-children {
  > * {
    background-color: #fff;
    margin: 1.5%;
    width: 46%;
    height: 44%;
  }
}

.portfolio-vs-average-page {
  padding: $pagePadding;
}

.top-fields-page {
  padding: $pagePadding;
}

.reserves-page {
  padding: $pagePadding;
}

.history-page {
  padding: $pagePadding;
}

.panels {
  overflow-y: auto;
  padding: 0.75em;
  position: absolute;
  top: 0;
  left: 0;
  right: $sidePanelWidth;
  bottom: 0;
  padding: $pagePadding;
}

@import 'components/charts';
@import 'components/text';
@import 'components/maps';
@import 'components/entity-select';
@import 'top-fields-page';
